:root {
    --background-light: rgb(249, 253, 255);
    --background-pink: rgb(255, 171, 171);

    --color-yellow: #f3fd82;
    --color-blue: #A3BECC;
    --color-dark: #1E1E1E;
    --color-light: #687278;

    --purple-border: rgb(78, 78, 237);
    --green-border: rgb(78, 237, 171);

    --linkedin-blue: #0072b1;
    --mail-red: #EA4335;
    --instagram-pink: #C13584;
}

* {
    margin: 0;
}


.full-page {
    height: 100vh;
    width: 100vw;
}
.x2-page {
    min-height: 200vh;
    width: 100vw;
}

.test {
    height: 168vh;
}
.img-con {
    position:relative;
    z-index: 1;
    padding-bottom: 100px;
    width: 50%;
}

.green-border {
    border: var(--green-border) 2px solid;
}

.purple-border {
    border:var(--purple-border) 2.5px solid;
}

#page1 {
    background-color: var(--background-light);
    overflow: hidden;
    position: fixed;
    z-index: 20;
    border-bottom: solid black 2px;
    box-shadow: 0px 5px 20px black;
    /* border-bottom: solid rgba(249, 253, 255, 0.498) 2px;
    box-shadow: 0px 40px 50px var(--background-light); */
}

#page2 {
     background-color: var(--background-pink);
     /* position: inherit; */
     z-index: 10;
}

.landing-intro-con {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

h1, h2, h3 {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.color-light {
    color: var(--color-light);
}

.color-dark {
    color: var(--color-dark);
}

.landing-intro-con h1{
    line-height: 60px;
    font-size: 40px;
}


.past-work {
    position: fixed;
    top: 0;
    color: var(--color-yellow);
}

#page1 .landing-intro-con {
    position: absolute;
    z-index: 12;
}

#page2 .landing-intro-con {
    position: fixed;
    z-index: 2;
}


.landing-intro-img {
    margin: 30px;
    border-radius: 360px;
    box-shadow: 0px 8px 20px black;
}
.landing-intro-txt {
    width: 100%;
    text-align: center;
}

.socials {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.socials i {
    font-size: 40px;
}

#socials1 {
    top: 80.5%;
    z-index: 999;
    position: absolute;
}

#socials2 {
    position: fixed;
    bottom: 5%;
    z-index: 1;
}

@media screen and (min-width: 600px) {
    .landing-intro-img {
        height: 250px;
        width: auto;
    }
    .landing-intro-con {
        
        width: 250px;
        border-radius: 360px;
        right: 36.2%;
    }
}

@media screen and (min-width: 1100px) {
    .landing-intro-con {
        right: 43%;
    }
}

a {
    color: black;
}

.fa-circle-envelope:hover {
    cursor: pointer;
    color: var(--mail-red);
}

.fa-instagram-square:hover {
    cursor: pointer;
    color: var(--instagram-pink);
}

.fa-github:hover {
    cursor: pointer;
    color: var(--color-light);
}

.fa-linkedin:hover {
    cursor: pointer;
    color: var(--linkedin-blue);
}
